.w-14{
    width: 14%;
}

.w-fit-content{
    width: fit-content;
}

.hidden{
    display: none;
}

.booking-card{
	background-color: aliceblue;
	box-shadow: 0 4px 12px #0000001a;
}

.bookingSection{
    box-shadow: 0 4px 12px #0000001a;
}


.booking-card-bottom{
    display: flow-root;
    background-color: aliceblue;
}

.tripData .form-control , .rowData .form-control{
	border: 0;
}


select.form-control{
	appearance: auto;
	-webkit-appearance: auto;
}


.datesData{
    background-color: black;
    width: 56%;
    position: relative;
    left: 402px;
}

.calender-btn{
	right: 12px
}

.next-prv-btns{
    bottom: -35px;
}

.passengersDataSpan{
    position: absolute;
    width: fit-content;
    top: 38px;
    left: 20px;
}

.passengersDetails i{
	bottom: 9px;
	right: 15px;
}

.header-text{
	font-size: 13px;
}

.flightInfo{
	background-color: aliceblue;
}

input.PassengersDataInput::placeholder{
    font-size: 15px;
}

.removeRow i:hover{
    color: red;
}

.is-invalid {
    border: 2px solid red;
}


.tripData .form-control.is-invalid  , .rowData .form-control.is-invalid {
    border: 2px solid red;
}

.is-valid {
    border: 2px solid green;
}


.passengersDataCard{
	background-color: aliceblue;
	box-shadow: 0 4px 12px #0000001a;
}

.paymentsSection{
	background-color: aliceblue;
	box-shadow: 0 4px 12px #0000001a;
}

.confermationSection{
	background-color: aliceblue;
	box-shadow: 0 4px 12px #0000001a;
}

.circle{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: aliceblue;
    border: 3px solid green;
    color: green;
}


.fromDateValue , .toDateValue{
	bottom: -30px;
	left: 0;
	z-index: 5;
}

.total-body{
	border-top: 3px solid teal
}


/* wizard */

.wizard,
.wizard .nav-tabs,
.wizard .nav-tabs .nav-item {
	position: relative;
}
.wizard .nav-tabs:after {
	content: "";
	width: 80%;
	border-bottom: solid 2px #ccc;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 38%;
	z-index: -1;
}
.wizard .nav-tabs .nav-item .nav-link {
	width: 70px;
	height: 70px;
	margin-bottom: 6%;
	background: white;
	border: 2px solid #ccc;
	color: #ccc;
	z-index: 10;
}
.wizard .nav-tabs .nav-item .nav-link:hover {
	color: #333;
	border: 2px solid #333;
}
.wizard .nav-tabs .nav-item .nav-link.active {
	background: #fff;
	border: 2px solid #0dcaf0;
	color: #0dcaf0;
}
.wizard .nav-tabs .nav-item .nav-link:after {
	content: " ";
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	opacity: 0;
	margin: 0 auto;
	bottom: 0px;
	border: 5px solid transparent;
	border-bottom-color: #0dcaf0;
	transition: 0.1s ease-in-out;
}

.nav-tabs .nav-item .nav-link.active:after {
	content: " ";
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	opacity: 1;
	margin: 0 auto;
	bottom: 0px;
	border: 10px solid transparent;
	border-bottom-color: #0dcaf0;
}
.wizard .nav-tabs .nav-item .nav-link svg {
	font-size: 25px;
}

/* media query */


@media (max-width: 576px){

	.TripDetailsTitle{
		position: relative;
		left: 0%;
	}
	.flightInfoSectionTitle{
		position: relative;
		left: 26%;
	}
	.paymentsSectionTitle{
		position: relative;
		left: 53%;
	}
	.confermationSectionTitle{
		position: relative;
		left: 64%;
	}
}
@media (min-width: 576px){

	.TripDetailsTitle{
		position: relative;
		left: 0%;
	}
	.flightInfoSectionTitle{
		position: relative;
		left: 26%;
	}

	.paymentsSectionTitle{
		position: relative;
		left: 53%;
	}

	.confermationSectionTitle{
		position: relative;
		left: 71%;
	}
}

@media (min-width: 768px){

	.TripDetailsTitle{
		position: relative;
		left: 3%;
	}

	.flightInfoSectionTitle{
		position: relative;
		left: 29%;
	}

	.paymentsSectionTitle{
		position: relative;
		left: 55%;
	}

	.confermationSectionTitle{
		position: relative;
		left: 74%;
	}
}

@media (min-width: 992px){

	.TripDetailsTitle{
		position: relative;
		left: 5%;
	}

	.flightInfoSectionTitle{
		position: relative;
		left: 30%;
	}

	.paymentsSectionTitle{
		position: relative;
		left: 57%;
	}

	.confermationSectionTitle{
		position: relative;
		left: 77%;
	}
}


@media (min-width: 1200px){

	.TripDetailsTitle{
		position: relative;
		left: 6%;
	}
	.flightInfoSectionTitle{
		position: relative;
		left: 32%;
	}

	.paymentsSectionTitle{
		position: relative;
		left: 58%;
	}

	.confermationSectionTitle{
		position: relative;
		left: 79%;
	}
}


